body {
	background-color: rgb(253,253,254);
}
article {
	margin: 2rem 10rem 10rem 10rem;
	padding: 1rem 1rem 1rem 1rem;
	font-family:  'Source Sans Pro', sans-serif;
}
header {
	text-align:center;
	margin-bottom: 4rem;
}
header h1 {
	margin-bottom: 0.5rem;
}
.content {
	width:100%;
}
.candidates {
	display:table;
	width:100%;
	margin-left:auto;
	margin-right:auto;
	margin-bottom: 3rem;
	clear:both;
}
.candidates .candidate {
	display:table-cell;
	width:50%;
}
.candidates .candidate .photo {
	width:45%;
	padding-bottom:1rem;
}
.candidates .candidate .photo img {
	width:100%;
}
.candidates .left .photo {
	float:left;
	padding-right:1rem;
}
.candidates .right .photo {
	float:right;
	padding-left:1rem;
}
.candidates .right .infos {
	text-align:right;
}
.candidates .left,
.candidates .right {
	overflow:auto;
}
section {
	clear:both;
	margin-bottom:8rem;
	width:100%;
}
section .title {
	text-align:center;
	font-weight:bold;
	color:white;
}
section .title span {
	background-color: #002684;
	padding:0.2rem 1rem 0.2rem 1rem;
	
}
section .title + .program {
	float:left;
}
section .program + .program {
	float:right;
	text-align:right;
}
section .program {
	overflow:auto;
	width:45%;
}

.github-icon-svg {
  display: inline-block;
  width: 16px;
  height: 16px;
  position: relative;
  top: 3px;
}

.authors ul { 
	list-style: none; 
	padding:0;
	margin:0;
}

.authors li,
.authors p {
	display: inline-block;
	letter-spacing: -.3px;
	padding-left: 0.35rem;
	padding-right: 0.35rem;
	color: #828282;
}
